#~ environnement related
.git/
.vscode/

#~ binaries
**.o
**.dll
**.lib
**.a
**.so
bin/**

#build files
build/**
!build/assets/**

#~ dev folders
temp/**
test/**
#! put test files you want to be shared with others here

#~ exceptions

!**.gitkeep