name: Application Deployment

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    uses: ./.github/workflows/build.yml
    

  deployement:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Get linux tarball
      uses: actions/download-artifact@v4
      with:
        name: linux-build
        path: ./

    - name: Get windows zip archive
      uses: actions/download-artifact@v4
      with:
        name: windows-build
        path: ./

    - name: Create the release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "./application-windows.zip,./application-linux.tar.gz"
        commit: ${{ github.event.head_commit.id }}
        generateReleaseNotes: true
        makeLatest: true
        name: "${{ github.event.repository.name }} - ${{ github.event.head_commit.message }}"
        tag: "v${{ github.event.head_commit.id }}"