name: Test battery

on: [ pull_request ]

permissions:
  contents: write

jobs:
  pre-build:
    name: Pre Build Check
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Tests
      run: make test

  build:
    name: Check Build Chain
    uses: ./.github/workflows/build.yml

  post-build-linux:
    name: Post Build Check On Linux
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Get linux tarball
      uses: actions/download-artifact@v4
      with:
        name: linux-build
        path: ./

    - name: Tests
      run: echo insert post build tests here

  post-build-windows:
    name: Post Build Check On Windows
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Get windows zip archive
      uses: actions/download-artifact@v4
      with:
        name: windows-build
        path: ./

    - name: Tests
      run: echo insert post build tests here